:root {
    background: white;
}
* {
color: black;
}
h1{
    background: blue;
}
   
p[class='green'] {
    color: green;
}
p[id='blue'] {
color: blue;
}

.box div {
    color: green;
}
.box p {
    background: red;
}
section[class='brown']{
    background: brown;
    color:white;
}

ul>li {
    background: red;
}
button[class='header-button'] {
    background-color: red;
}
span{
    color: red;
}
p[class='susid'] {
    color: rgba(243, 243, 248, 0.92);
}
p{
    background: blue;
}

p[class='salo']{
    background: yellow;
}
p[id='bread']{
    background: yellow;
}
div [class='first-task']
    ul>li:first-child{
        color: white;
    }
.second-task
ul:first-child li:first-child
{
    color: yellow;
}
.third-task   

ul:last-child li:first-child{
    background: yellow;
}
.four-task
ul>li:last-child {
    background: yellow;
}
.five-task
ul:last-child li:last-child {
    color: white;
}
.only-child-task
div:only-child{
    color: red;
}
.seven-task
p:first-of-type{
    background: red;
}
.eight-task
span:last-of-type{
    background: yellow;
}
.text-wrapper
p:only-of-type{
    background: yellow;
}
.lesson-three-task-one
nav a[href]{
    color: white;
}
.lesson-three-task-two
li[value]{
    color: yellow;
}
.lesson-three-task-three
li[value='3']{
    background: red;
}
.lesson-three-task-four
button[class*='primary']{
    background: blue;
}
.lesson-three-task-five
button[class^='secondary']
{
    background: red;
}
.lesson-three-task-six
li[class^='b']{
    background: white;
    color: green;
}
.lesson-three-task-seven
li[class*='on']{
    background: white;
    color: green;
}
.lesson-three-task-eight
span{
    background: white; 
}
li>span[class*='s']{
    color: blue;
}
.lesson-three-task-nine
h2::first-letter{
    color: red;
}
.lesson-three-task-ten
p:first-of-type{
    background: yellow;
}
.lesson-three-task-eleven
input::placeholder{
    background: red;
}
.lesson-three-task-twelve
li::before{
    content: '>';
    color:black;
}
.lesson-three-task-thirteen
li::after{
    content:'>';
    color: black;
}

  

    



